@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Cardo", serif;
  background-color: #001001;
  padding: 0 16px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a,
.btn-link,
a:visited {
  color: #cb9b69 !important;
  text-decoration: underline;
}

a:hover,
.btn-link:hover {
  color: #fff;
}

.btn:focus {
  box-shadow: none !important;
}

.hidden {
  display: none;
}

#verseDisplay {
  background: linear-gradient(-45deg, #001001, #2e536b, #564020, #001001);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border: 0 !important;
  color: white;
  /* max-height: 380px;
  overflow-y: auto; */
}

.logo {
  text-align: center;
  margin-bottom: 24px;
}

.logo img {
  position: relative;
}

.verse {
  font-size: 22px;
  line-height: 140%;
  font-weight: 700;
}

.verse:first-letter {
  text-transform: uppercase;
}

.btn-custom {
  color: white !important;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
}

.btn-custom.one {
  background-color: #2e536b !important;
}

.btn-custom.two {
  background-color: #564020 !important;
}

.btn-custom.three {
  background-color: #cb9b69 !important;
}

#langToggleBtn {
  background-color: #2e536b;
  color: #fff !important;
  border-radius: 100px;
  border: 0 !important;
  width: 100px;
  height: 50px;
  border-color: transparent !important;
  font-size: 18px;
}
#langToggleBtn:focus,
#langToggleBtn:active {
  border: 0 !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.btn-container {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.btn-container .left {
  display: flex;
  gap: 12px;
}

.footer {
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding-bottom: 12px;
  color: #cb9b69;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 60px;
}
